<%- include('header'); -%>

<div class="box" id="heading">
	<h1><%= mainHeading %></h1>
</div>

<div class="box">
	<% for( item of newItem){ %>
		<form action="/del" method="post">
			<div class="item">
				<input type="checkbox"  name="checkbox"  value="<%= item %>"  onChange="this.form.submit()" />
				<p><%= item.name %></p>
			</div>
		</form>
	<% } %>

	<!-- THIS FOR SEND REQUEST OT THE .get("/") ROUTE -->

	<form action="/" class="item" method="post">
		<label for="name"></label>
		<input name="name" type="text" placeholder="new items" autocomplete="off" />
		<button type="submit" name="list" value="<%= mainHeading %>">+</button>
	</form>
</div>

<%- include('footer'); -%>
